Manifest.toml
/docs/build/
/lib/PumasQSP/docs/build
.vscode
.DS_Store
*.pdf
*.gif
!/docs/src/**
petabtestsuite/0001/_0001_solution.yaml
petabtestsuite/0001/_0001.yaml
petabtestsuite/0001/_conditions.tsv
petabtestsuite/0001/_measurements.tsv
petabtestsuite/0001/_model.xml
petabtestsuite/0001/_observables.tsv
petabtestsuite/0001/_parameters.tsv
petabtestsuite/0001/_simulations.tsv
petabtestsuite/0001/0001.md
petabtestsuite/0001/0001.py
test/calibrate/bb.dat
